@keyframes sayHello {
  0% {
    transform: rotate(0deg) translateX(-2px);
  }
  40% {
    transform: rotate(40deg) translateX(-2px);
  }
  100% {
    transform: rotate(0deg) translateX(-2px);
  }
}
@keyframes profileFloating {
  0% {
    transform: translateY(15px);
    box-shadow: 0 0 20px 0 var(--second-c);
  }
  50% {
    transform: translateY(-15px);
    box-shadow: 0 0 10px 0 var(--second-c);
  }
  100% {
    transform: translateY(15px);
    box-shadow: 0 0 20px 0 var(--second-c);
  }
}
.section-home-phone {
  margin: 15vh 0 50px 0;
  display: flex;
  gap: 0;
  position: relative;

  span.hand-animation {
    display: inline-block;
    transform-origin: right bottom;
    transform: translateX(-2px);
    animation: sayHello 0.7s ease-in-out;
  }
  #home {
    position: absolute;
    top: -100vh;
  }
  .details {
    display: flex;
    width: 65%;
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    font-size: 20px;
  }
  h1 span.full-name {
    color: var(--second-c);
    font-size: 23px;
    span {
      color: var(--primer-c);
    }
  }
  h2 {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    font-size: 18px;
  }
  .Jobs {
    display: flex;
    color: var(--second-c);
  }
  h3 {
    font-size: 15px;
  }
  a.a-button {
    background-color: var(--primer-c);
    padding: 5px 10px;
    width: fit-content;
    border-radius: 10px;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid var(--primer-c);
    transition: all 0.2s ease-in-out;
    margin: 15px 0;
  }
  a.a-button:hover {
    background-color: transparent;
    color: var(--primer-c);
    box-shadow: 0 0 15px 0 var(--primer-c);
  }
  div.profile {
    width: 35%;
    img {
      width: 98%;
      border: 3px solid var(--second-c);
      border-radius: 10px 30px 10px 30px;
      animation: profileFloating 3s ease-in-out infinite;
    }
  }
  h2 span.Jobs::after {
    content: "";
    display: flex;
    width: 5px;
    margin-left: 2px;
    height: 100%;
    position: relative;
    top: 0%;
    background-color: var(--second-c);
    animation: cursor 0.5s ease-in-out infinite;
  }
  div.social-media {
    display: flex;
    gap: 10px;
    a {
      color: white;
      font-size: 20px;
      font-weight: bold;
      border: 1px solid var(--primer-c);
      padding: 1px 7px;
      border-radius: 50%;
      background-color: var(--primer-c);
      transition: all 0.15s ease-in-out;
    }
    a:hover {
      box-shadow: 0 0 15px 0 var(--primer-c);
      color: var(--primer-c);
      background-color: transparent;
    }
  }
}
@keyframes cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.section-about-phone {
  width: 100%;
  h1 {
    text-transform: capitalize;
    color: var(--second-c);
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
  }
  .imgs-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .details {
      width: 100%;
      padding: 0;
      border-right: none;
      text-align: center;
    }
    .imgs {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      text-align: center;
      flex-direction: column;
      justify-content: flex-start;
      gap: 20px;
      div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--i-c);
        font-size: 30px;
        i {
          width: 40px;
        }
        .percent {
          width: calc(90% * var(--p) / 100);
          height: 3px;
          border-radius: 10px;
          background-color: var(--i-c);
        }
        .percent::before {
          content: attr(data-content);
          position: relative;
          display: flex;
          width: fit-content;
          padding: 2px 5px;
          border-radius: 5px;
          left: calc(90% * var(--p) / 100);
          top: calc(-100vw / 35);
          background-color: rgba(228, 228, 228, 0.87);
          color: var(--i-c);
          font-size: calc(100vw / 35);
          font-weight: bold;
        }
      }
    }
  }
}
.section-projects-phone {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  > h1 {
    color: var(--second-c);
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    .project {
      transition: all 0.15s ease-in-out;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 45vh;
      overflow: hidden;
      justify-content: flex-start;
      align-items: center;
      border: 2px solid var(--second-c);
      position: relative;
      border-radius: 5px;
      .project-details {
        opacity: 0;
        transition: all 0.15s ease-in-out;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        position: absolute;
        h2 {
          text-transform: capitalize;
          color: var(--primer-c);
        }
        p {
          word-wrap: break-word;
          width: 100%;
          text-align: center;
          font-size: 13px;
        }
        a {
          background-color: var(--second-c);
          border: 2px solid var(--second-c);
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          margin: 10px;
          width: fit-content;
        }
      }
      .project-img {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .project:hover {
      box-shadow: 0 0 10px 1px var(--second-c);

      .project-details {
        background-color: rgba(0, 0, 0, 0.363);
        opacity: 1;
      }
    }
  }
}
.section-contact-phone {
  margin: 50px 0;
  width: 100%;

  div.email {
    width: 100%;
    img {
      display: none;
    }
    div.form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 30px;
      input,
      textarea {
        min-width: 100%;
        outline: none;
        padding: 10px 0;
        text-indent: 5px;
        border-radius: 5px;
        border: 1px solid gray;
      }
      textarea#message {
        text-align: left;
        display: flex;
        resize: none;
        min-height: 300px;
      }
      a {
        background-color: var(--primer-c);
        color: white;
        border: 1px solid var(--primer-c);
        width: fit-content;
        padding: 5px 15px;
        border-radius: 2px;
        transition: all 0.15s ease-in-out;
        box-shadow: 0px 7px 0px 0px black;
      }
      a:active {
        transform: translate(0, 8px);
        box-shadow: none;
      }
    }
  }
  div.social-media {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    a {
      color: var(--b-c);
      font-size: 30px;
      border: 1px solid var(--b-c);
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      transition: all 0.15s ease-in-out;
    }
    a:active {
      background-color: var(--b-c);
      color: white;
    }
  }
}
